section#car-rental-bg-image-cover::before {
    background-color: rgba(0, 0, 0, 0.7);
}

section#car-rental-bg-image-cover {
    background-image: url("../img/jpg/AutoMain.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#car-rental-bg-image-mustang {
    background-image: url("../img/jpg/AutoCover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
